/* COLOR PAIRS */

$gray-main: hsl(240, 56%, 9%);
$gray-secondary: hsl(240, 21%, 21%);
$white-main: hsl(0, 0%, 100%);
$white-secondary: hsl(240, 5%, 88%);


/* ACCENT COLORS */

$dark-blue: hsl(224, 100%, 34%);
$blue: hsl(212, 100%, 80%);
$yellow1: hsl(43, 99%, 65%);
$yellow2: hsl(36, 100%, 60%);
$dark-purple: hsl(272, 99%, 33%);


/* CUSTOMIZATIONs */


*{
    font-family:'Roboto Mono', monospace;
}


.place-content-center{
    display: grid;
    place-content: center;
}

