@import 'reset';
@import 'config';


body{
    background-color: $gray-main;
    color: $white-main;
    height: 100vh;
}


.container{
    
    .header{
        text-align: center;

        h1{
            font-size: 48px;
        }



    }


    #question{
        font-size: 28px;
    }

    .option{
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 5px;
        width: 100vw;
        padding: 12px;
        color: $gray-main!important;
        background: linear-gradient($yellow1, $yellow2);
        border: 1px solid $yellow1;    
        cursor: pointer;
       
        &:hover{
            background: $yellow1;
        }
        

        
    }


    #result{
        font-size: 48px;
        color: $yellow2;
        text-align: center;
        font-weight: 700;
    }


    
}

@media (max-width: 768px) {
    .container{
        width: 500px;
    }
}
